# CPP Formatter
BasedOnStyle: Google

IndentWidth: 4
TabWidth: 4
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Allman

AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

PointerAlignment: Left

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

BinPackArguments: false
BinPackParameters: false

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

IndentCaseLabels: true

AlwaysBreakAfterReturnType: TopLevel
SpaceBeforeParens: ControlStatements